html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(22,185,177),rgba(191,91,91));
  font-family: "Bellota Text", sans-serif;
  color: white;
}
.location, .temperature{
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5vh; /*added as extra*/
}
.temperature{
  flex-direction: column;
}
.degree-section{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span{
  margin: 0.6rem;
  font-size: 2rem;
}
.degree-section h2{
  font-size: 3rem;
}
.temperature-description{
  font-size: 1.5rem;
}
img{
  margin-left: 15%;
}