html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(rgba(22,185,177),rgba(191,91,91)); */
  background: linear-gradient(rgba(174, 234, 229),rgba(238, 214, 199));
  font-family: "Bellota Text", sans-serif;
  color: black;
}
.location, .temperature{
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*margin-bottom: 5vh; /*added as extra*/
}
.temperature{
  flex-direction: column;
}
.degree-section{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span{
  margin: 0.6rem;
  font-size: 2rem;
}
.degree-section h2{
  font-size: 4rem;
}
.temperature-description{
  font-size: 1.5rem;
}

img{
  margin-left: 10%;
}

.mode{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: green;
  width: 66%;
  margin-top: 5%;
}
.mode img{
  transform: rotate(270deg);
}
